

.ContainerBtnsMapWrapper{
   position: fixed;
   top: 150px;
   left: 10px;
   z-index: 2;
   width: max-content;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px;

}

.my-custom-btns{
    border: none;
    background-color: #1477b1cb;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    &:hover{
        scale: (1.1);
        transition: all 0.5s ease-in-out;
    }
}